@import url("https://fonts.googleapis.com/css?family=Merriweather|Poppins");
.contact-page {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto 1fr 10vh;
  grid-template-areas: "nav nav" "title title" "blank form" "footer footer"; }
  .contact-page .main-nav {
    grid-area: nav; }
  .contact-page .form-title {
    grid-area: title; }
  .contact-page .main-footer {
    grid-area: footer; }
  .contact-page .form {
    grid-area: form;
    margin-bottom: 2em; }

.gallery-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 6px; }
  .gallery-container .img-container {
    object-fit: cover;
    position: relative;
    overflow: hidden; }
    .gallery-container .img-container img {
      object-fit: cover;
      object-position: center;
      display: block;
      max-width: 100%;
      width: 100%;
      height: 100%;
      transition: all .2s;
      transform: scale(1); }
      .gallery-container .img-container img:hover {
        transform: scale(1.08);
        transition: all .2s; }
  .gallery-container .span_1 {
    grid-column: span 2; }
  .gallery-container .span_2 {
    grid-column: span 2;
    grid-row: span 2; }
  .gallery-container .span_3 {
    grid-row: span 2; }

.main-footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "left middle right"; }
  .main-footer .left-text {
    grid-area: left;
    text-align: left; }
  .main-footer .middle {
    grid-area: middle;
    text-align: center; }
  .main-footer .right-up {
    grid-area: right;
    justify-self: right; }

.main-footer::before {
  content: '';
  position: absolute;
  width: 60%;
  height: 125px;
  left: 0;
  background: #909190;
  transform: skewY(10deg);
  bottom: -2px;
  z-index: -2; }

.main-footer::after {
  content: '';
  position: absolute;
  width: 60%;
  height: 125px;
  bottom: -2px;
  right: 0;
  background: #909190;
  transform: skewY(-10deg);
  z-index: -2; }

.grid,
.gallery-page,
.contact-page {
  scroll-behavior: smooth;
  transition: 0.4s ease-in-out; }

.grid {
  background: #725752; }

.contact-page {
  background-image: linear-gradient(#878e88b4, #f5c1b8d8), url(../images/bgcrop.jpg);
  background-blend-mode: multiply;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: color-burn; }

.gallery-page {
  background-image: linear-gradient(#878e88b4, #f5c1b8d8), url(../images/bgcrop.jpg);
  background-blend-mode: multiply;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

body, * {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

h1,
h2,
h3 {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  text-align: center;
  color: #EEE5E9; }

p,
a {
  font-family: 'Poppins', sans-serif;
  color: #EEE5E9;
  font-weight: 300;
  color: #EEE5E9; }

h2 {
  margin: 0 auto 1.6em;
  font-size: 34px;
  position: relative;
  z-index: 2; }

h2::after {
  background-color: #EEE5E9;
  content: '';
  display: block;
  color: inherit;
  width: 200px;
  height: 2px;
  text-align: left;
  margin: 6px auto 0;
  text-align: left; }

h3 {
  color: #725752 !important;
  padding: 0.8em; }

h3::after {
  content: '';
  display: block;
  color: inherit;
  width: 200px;
  height: 2px;
  text-align: left;
  margin: 6px auto 0;
  background-color: #909190; }

option[value],
option,
.form,
input[placeholder],
select[id],
textarea[placeholder],
input[type=submit] {
  font-family: 'Poppins', sans-serif;
  color: #EEE5E9;
  font-weight: 300;
  color: #EEE5E9;
  font-weight: 400;
  background-color: #909190; }

option[value] {
  background-color: #725752; }

.grid .main-header {
  text-align: center;
  background-image: linear-gradient(#878e88b4, #f5c1b8d8), url(../images/bgcrop.jpg);
  background-blend-mode: multiply;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; }
  .grid .main-header .sub {
    color: #EEE5E9;
    font-size: 2vw;
    padding: 18vh 0 0 0;
    text-align: center;
    margin: 0 auto;
    max-width: 300px;
    line-height: 3.4em; }
  .grid .main-header .sub::after {
    content: "";
    display: block;
    border-bottom: solid  2.8px; }
  .grid .main-header .title {
    font-size: 6vw; }

.primary-content {
  padding: 2em;
  margin: 1.2em auto;
  text-align: center; }
  .primary-content p {
    font-size: 1em;
    padding: 1em;
    position: relative;
    z-index: 2; }

.primary-content::before {
  content: '';
  position: absolute;
  width: 60%;
  height: 125px;
  left: 0;
  background: #725752;
  transform: skewY(10deg);
  bottom: -70px; }

.primary-content::after {
  content: '';
  position: absolute;
  width: 60%;
  height: 125px;
  bottom: -70px;
  right: 0;
  background: #725752;
  transform: skewY(-10deg); }

.secondary-content {
  background: #909190;
  padding: 2em;
  text-align: center; }
  .secondary-content .figure {
    margin: 0.45rem;
    background-color: #EEE5E9;
    border-top: #725752 1em solid; }
    .secondary-content .figure h3 {
      font-size: x-large; }
    .secondary-content .figure p {
      color: #EEE5E9;
      background-color: #96c094;
      padding: 0.25rem;
      margin: 0.45rem 0;
      font-size: 1em; }

.main-footer {
  background-color: #ffffff27;
  height: 10vh;
  text-align: center;
  display: block;
  padding: 2vh;
  contain: content; }
  .main-footer .left-text p {
    font-size: 1vw;
    margin-top: 1.4vh; }

.contact-page {
  background-image: linear-gradient(#878e88b4, #f5c1b8d8), url(../images/bgcrop.jpg);
  background-blend-mode: multiply;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat; }
  .contact-page .form-title {
    color: #EEE5E9;
    margin: 1.4em auto;
    max-width: 500px; }
  .contact-page .form-title::after {
    background: #EEE5E9;
    content: '';
    display: block;
    color: inherit;
    width: 200px;
    height: 2px;
    text-align: left;
    margin: 6px auto 0; }
  .contact-page .form {
    background-color: #fff0; }
    .contact-page .form .form-grid input[type=text] {
      padding: 0.6em; }
    .contact-page .form .form-grid input[type=text],
    .contact-page .form .form-grid input[type=email],
    .contact-page .form .form-grid select,
    .contact-page .form .form-grid textarea {
      color: #EEE5E9;
      width: 100%;
      padding: 12px;
      border: 1px solid #EEE5E9;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
      outline: none; }
    .contact-page .form .form-grid textarea {
      height: 152px; }
    .contact-page .form input[type=submit] {
      width: 30%;
      background-color: #96c094;
      color: #EEE5E9;
      padding: 1.4em;
      border: none;
      cursor: pointer;
      outline: none;
      border: 1px solid #EEE5E9; }
    .contact-page .form input[type=submit]:hover {
      background-color: #725752; }

.figure {
  max-width: 400px;
  margin: 1.6em auto;
  padding: 1em;
  padding-top: 0;
  opacity: 0.8;
  transition: 0.4s ease-in;
  text-align: left;
  height: auto;
  filter: blur(2px);
  transition: all .1s; }

.figure:hover {
  transition: all .1s;
  opacity: 1;
  transition: 0.5s ease-out;
  filter: blur(0);
  transform: scale(1.06);
  box-shadow: 1em 1em 2em #555; }

.grid-imgs {
  position: relative;
  overflow: hidden; }
  .grid-imgs img {
    height: 100%;
    width: 100%;
    transition: all .2s; }
    .grid-imgs img:hover {
      transform: scale(1.08); }

.card-title {
  grid-area: title; }

.grid-imgs {
  grid-area: img; }

.card-text {
  grid-area: text; }

.btn1 {
  grid-area: btn1; }

.btn2 {
  grid-area: btn2; }

.figure {
  display: grid;
  margin: 2em auto;
  grid-template-areas: "title" "img" "text" "btns"; }

.card-title {
  grid-area: title; }

.grid-imgs {
  grid-area: img; }

.card-text {
  grid-area: text; }

.figure-btns {
  grid-area: btns;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "read action"; }

.btn1 {
  grid-area: read; }

.btn2 {
  grid-area: action; }

.main-nav {
  background: #ffffff09;
  position: sticky;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  text-align: center;
  z-index: 4; }
  .main-nav .icon {
    display: none; }
  .main-nav .main-nav-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: center;
    padding: 0;
    list-style-type: none; }
  .main-nav ul li {
    padding: 0 0 0.4em 0;
    list-style-type: none; }
  .main-nav .nav-list-links {
    padding: 1em;
    margin: 0 0.6em;
    border-radius: 0.25rem; }
  .main-nav .dropdown {
    display: block; }
    .main-nav .dropdown .dropdown-content {
      background: #909190;
      color: #EEE5E9;
      display: none;
      position: relative;
      z-index: 1;
      padding: 1em; }
  .main-nav .dropdown:hover .dropdown-content {
    display: block;
    margin: -14px 0 0 0;
    transition: all 200ms;
    border-radius: 0.1rem;
    top: 33.5px;
    z-index: 1;
    width: auto;
    padding: 1.2em;
    text-align: left; }
  .main-nav .nav-list-links.dropdown {
    height: 3.6em;
    width: 150px;
    display: block; }
  .main-nav .dropdown-list-item a:active {
    color: #96c094; }
  .main-nav .dropdown-list-item::after {
    content: '';
    display: block;
    color: inherit;
    width: auto;
    height: 2px;
    text-align: left !important;
    background-color: #eef0f2 !important;
    background-color: #725752; }

.main-nav:hover {
  background: #eef0f29c;
  transition: 0.4s ease; }

.main-nav:hover a {
  color: #725752; }

@media only screen and (min-device-width: 320px) and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {
  .main-nav .main-nav-ul {
    justify-content: center;
    font-size: 2vw; }

  .main-nav {
    overflow: hidden;
    background-color: #fff0;
    position: relative; }
    .main-nav .icon {
      display: flex;
      justify-content: flex-end; }

  .main-nav .main-nav-ul {
    display: none; }

  .main-nav a {
    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; }

  .main-nav a.icon {
    float: right; }

  .main-nav a:hover {
    background-color: #ffffff09; } }
.contact-page {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto 1fr 10vh;
  grid-template-areas: "nav nav" "title title" "blank form" "footer footer"; }
  .contact-page .main-nav {
    grid-area: nav; }
  .contact-page .form-title {
    grid-area: title; }
  .contact-page .main-footer {
    grid-area: footer; }
  .contact-page .form {
    grid-area: form;
    margin-bottom: 2em; }

.gallery-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 6px; }
  .gallery-container .img-container {
    object-fit: cover;
    position: relative;
    overflow: hidden; }
    .gallery-container .img-container img {
      object-fit: cover;
      object-position: center;
      display: block;
      max-width: 100%;
      width: 100%;
      height: 100%;
      transition: all .2s;
      transform: scale(1); }
      .gallery-container .img-container img:hover {
        transform: scale(1.08);
        transition: all .2s; }
  .gallery-container .span_1 {
    grid-column: span 2; }
  .gallery-container .span_2 {
    grid-column: span 2;
    grid-row: span 2; }
  .gallery-container .span_3 {
    grid-row: span 2; }

.main-footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "left middle right"; }
  .main-footer .left-text {
    grid-area: left;
    text-align: left; }
  .main-footer .middle {
    grid-area: middle;
    text-align: center; }
  .main-footer .right-up {
    grid-area: right;
    justify-self: right; }

.main-footer::before {
  content: '';
  position: absolute;
  width: 60%;
  height: 125px;
  left: 0;
  background: #909190;
  transform: skewY(10deg);
  bottom: -2px;
  z-index: -2; }

.main-footer::after {
  content: '';
  position: absolute;
  width: 60%;
  height: 125px;
  bottom: -2px;
  right: 0;
  background: #909190;
  transform: skewY(-10deg);
  z-index: -2; }

a {
  text-decoration: none;
  text-transform: uppercase;
  outline: none; }

a:hover {
  color: #725752; }

a:active {
  color: #909190; }

.figure .btn {
  border: none;
  outline: none;
  padding: 2em;
  text-align: center;
  color: #eef0f2 !important;
  font-size: 0.8em;
  opacity: 0.85; }
.figure .btn:hover {
  opacity: 1;
  font-weight: 900; }
.figure .btn1 {
  background-color: #725752; }
.figure .btn2 {
  background-color: #909190; }
.figure .btn1:hover {
  background: #909190; }
.figure .btn2:hover {
  background: #725752; }

.fab {
  font-size: 3vw;
  padding: 0 0.6em 0em 0.6em;
  color: #EEE5E9; }

.fab:hover {
  color: #393D3F; }

.down-arrow {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%); }

.down-arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #eef0f2;
  border-right: 5px solid #eef0f2;
  transform: rotate(45deg);
  margin: -20px;
  animation: animate-down 2s infinite; }

.down-arrow span:nth-child(2) {
  animation-delay: -0.2s; }

.down-arrow span:nth-child(3) {
  animation-delay: -0.4s; }

@keyframes animate-down {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px); } }
.up-arrow {
  position: absolute;
  left: 94%;
  transform: rotate(180deg); }

.up-arrow span {
  z-index: 1;
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid #eef0f2;
  border-right: 5px solid #eef0f2;
  transform: rotate(45deg);
  margin-top: -50px;
  animation: animate-up 2s infinite; }

@keyframes animate-up {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(10px, 10px); } }
@media screen and (min-device-width: 1024px) and (max-device-width: 1900px) and (-webkit-min-device-pixel-ratio: 1) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 100vh auto auto 10vh;
    grid-template-areas: "nav nav nav" "header header header" "primary primary primary" "secondary secondary secondary" "footer footer footer"; }

  .main-header {
    grid-area: header; }

  .main-nav {
    grid-area: nav; }
    .main-nav .main-nav-ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      text-align: center;
      padding: 0;
      list-style-type: none; }

  .primary-content {
    grid-area: primary; }

  .secondary-content {
    grid-area: secondary; }
    .secondary-content .activty {
      max-width: 1200px;
      grid-gap: 2em;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto; }
    .secondary-content .row1 {
      margin: 0 auto 2em;
      grid-template-areas: "fig1 fig2 fig3"; }
    .secondary-content .row2 {
      grid-template-areas: "fig4 fig5 fig6"; }
    .secondary-content .figure1 {
      grid-area: fig1; }
    .secondary-content .figure2 {
      grid-area: fig2; }
    .secondary-content .figure3 {
      grid-area: fig3; }
    .secondary-content .figure4 {
      grid-area: fig4; }
    .secondary-content .figure5 {
      grid-area: fig5; }
    .secondary-content .figure6 {
      grid-area: fig6; }

  .main-footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "left middle right"; }
    .main-footer .left-text {
      grid-area: left;
      text-align: left; }
    .main-footer .middle {
      grid-area: middle;
      text-align: center; }
    .main-footer .right-up {
      grid-area: right;
      justify-self: right; }

  .form-grid {
    display: grid;
    margin: 0 2em;
    grid-template-columns: 1fr 1em 1fr;
    grid-template-rows: repeat(auto, auto);
    grid-template-areas: "name . sname" "email . activty" "txt txt txt" "btn btn btn"; }
    .form-grid .name {
      grid-area: name; }
    .form-grid .sname {
      grid-area: sname; }
    .form-grid .email {
      grid-area: email; }
    .form-grid .activty-select {
      grid-area: activty; }
    .form-grid .text-area {
      grid-area: txt; }
    .form-grid .sbt-btn {
      grid-area: btn; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1000px) {
  .secondary-content {
    display: grid;
    grid-template-columns: 2fr 2em 2fr;
    grid-template-rows: auto;
    grid-template-areas: "title title title" "row1 . row2";
    margin: 0 auto; }

  #section-title {
    grid-area: title; }

  .row1 {
    grid-area: row1; }

  .row2 {
    grid-area: row2; }

  .gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr !important; }
    .gallery-container .span_4 {
      grid-column: span 2; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {
  .primary-content h2 {
    max-width: 60vh; }

  .secondary-content h2 {
    padding: 1.2em 0;
    margin: 0 auto; }

  .primary-content,
  .secondary-content {
    padding: 0; }

  .activty {
    max-width: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto; }

  .row1 {
    grid-template-areas: "fig1" "fig2" "fig3"; }

  .row2 {
    grid-template-areas: "fig4" "fig5" "fig6"; }

  .gallery-container {
    display: grid;
    grid-template-columns: 1fr !important; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 1000px) {
  .contact-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr 10vh;
    grid-template-areas: "nav" "title" "form" "footer"; }
    .contact-page .form {
      margin: 0 1.6em 2em; }
      .contact-page .form .sbt-btn {
        width: 100% !important; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 700px) and (-webkit-min-device-pixel-ratio: 2) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 100vh auto auto 10vh;
    grid-template-areas: "nav" "header" "primary" "secondary" "footer"; }
    .grid .main-header {
      grid-area: header; }
    .grid .main-nav {
      grid-area: nav; }
      .grid .main-nav ul {
        float: left !important; }
    .grid .main-nav-ul {
      margin: 0 auto; }
    .grid .primary-content {
      grid-area: primary; }
      .grid .primary-content h2 {
        margin-top: 0; }
    .grid .secondary-content {
      grid-area: secondary; }
      .grid .secondary-content .activty {
        max-width: 1200px;
        grid-gap: 2em;
        margin: 0 auto;
        display: grid;
        place-content: center; }
        .grid .secondary-content .activty .row1 {
          margin: 0 auto 2em;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(3, 1fr);
          grid-template-areas: "fig1" "fig2" "fig3" !important; }
        .grid .secondary-content .activty .row2 {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(3, 1fr);
          grid-template-areas: "fig4" "fig5" "fig6" !important; }
        .grid .secondary-content .activty .figure {
          display: grid;
          margin: 2em auto; } }

/*# sourceMappingURL=main.css.map */
