@import url("https://fonts.googleapis.com/css?family=Merriweather|Poppins");
.grid,
.gallery-page,
.contact-page {
  scroll-behavior: smooth;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.grid {
  background: #725752;
}

.contact-page {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#878e88b4), to(#f5c1b8d8)), url(../images/cliff-crop.jpg);
  background-image: linear-gradient(#878e88b4, #f5c1b8d8), url(../images/cliff-crop.jpg);
  background-blend-mode: multiply;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: color-burn;
}

.gallery-page {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#878e88b4), to(#f5c1b8d8)), url(../images/cliff-crop.jpg);
  background-image: linear-gradient(#878e88b4, #f5c1b8d8), url(../images/cliff-crop.jpg);
  background-blend-mode: multiply;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body, * {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  text-align: center;
  color: #d4dfc7;
}

p,
a {
  font-family: 'Poppins', sans-serif;
  color: #eef0f2;
  font-weight: 300;
  color: #eef0f2;
}

h2 {
  margin: 0 auto 1.6em;
}

h2::after {
  background-color: #d4dfc7;
  content: '';
  display: block;
  color: inherit;
  width: auto;
  height: 0.2rem;
  text-align: left !important;
  margin-top: 6px;
  text-align: left;
}

h3 {
  color: #725752 !important;
  padding: 0.8em;
}

h3::after {
  content: '';
  display: block;
  color: inherit;
  width: auto;
  height: 0.2rem;
  text-align: left !important;
  margin-top: 6px;
  background-color: #909190;
}

option[value],
option,
.form,
input[placeholder],
select[id],
textarea[placeholder],
input[type=submit] {
  font-family: 'Poppins', sans-serif;
  color: #eef0f2;
  font-weight: 300;
  color: #fef6c9;
  font-weight: 400;
  background-color: #909190;
}

option[value] {
  background-color: #725752;
}

.grid .main-header {
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#878e88b4), to(#f5c1b8d8)), url(../images/cliff-crop.jpg);
  background-image: linear-gradient(#878e88b4, #f5c1b8d8), url(../images/cliff-crop.jpg);
  background-blend-mode: multiply;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.grid .main-header .sub {
  color: #d4dfc7;
  font-size: 2vw;
  padding: 18vh 0 0 0;
  text-align: center;
  margin: 0 auto;
  max-width: 300px;
  line-height: 3.4em;
}

.grid .main-header .sub::after {
  content: "";
  display: block;
  border-bottom: solid #d4dfc7 2.8px;
}

.grid .main-header .title {
  font-size: 6vw;
}

.primary-content {
  padding: 0 6em;
  margin: 1.2em auto;
  text-align: center;
  text-indent: 2em;
  max-width: 70vw;
}

.secondary-content {
  background: #909190;
  padding: 2em 2em 4em;
  text-align: center;
}

.secondary-content .figure {
  background-color: #d4dfc7;
  border-top: #725752 1em solid;
}

.secondary-content .figure h3 {
  font-size: x-large;
}

.secondary-content .figure p {
  color: #eef0f2;
  background-color: #96c094;
  padding: 0.25rem;
  margin: 0.45rem 0;
  font-size: 1em;
}

.main-footer {
  background-color: #ffffff27;
  height: 10vh;
  text-align: center;
  display: block;
  padding: 2vh;
  contain: content;
}

.main-footer .left-text p {
  font-size: 0.8em;
  margin-top: 1.4vh;
}

.contact-page {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#878e88b4), to(#f5c1b8d8)), url(../images/cliff-crop.jpg);
  background-image: linear-gradient(#878e88b4, #f5c1b8d8), url(../images/cliff-crop.jpg);
  background-blend-mode: multiply;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-page .form-title {
  color: #d4dfc7;
  margin: 1.4em auto;
  max-width: 500px;
}

.contact-page .form-title::after {
  background: #d4dfc7;
  content: '';
  display: block;
  color: inherit;
  width: auto;
  height: 0.2rem;
  text-align: left !important;
  margin-top: 6px;
}

.contact-page .form {
  background-color: #fff0;
}

.contact-page .form .form-grid input[type=text] {
  padding: 0.6em;
}

.contact-page .form .form-grid input[type=text],
.contact-page .form .form-grid input[type=email],
.contact-page .form .form-grid select,
.contact-page .form .form-grid textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #fef6c9b4;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  outline: none;
}

.contact-page .form .form-grid textarea {
  height: 152px;
}

.contact-page .form input[type=submit] {
  width: 30%;
  background-color: #96c094;
  color: #fef6c9;
  padding: 1.4em;
  border: none;
  cursor: pointer;
  outline: none;
  border: 1px solid #fef6c9b4;
}

.contact-page .form input[type=submit]:hover {
  background-color: #725752;
}

.gallery-container {
  margin: 2em auto;
  border-radius: 0.25rem;
  padding: 0.8em;
}

.gallery-container .img {
  height: 100%;
  max-width: 100%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.96;
  border-radius: 0.15rem;
}

.gallery-container .img:hover {
  opacity: 1;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  background-color: none;
}

.gallery-container .img0 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.gallery-container .img1 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.gallery-container .img4 {
  width: auto;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
}

.gallery-container .img5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
}

.gallery-container .img7 {
  grid-column: auto;
}

.gallery-container .img8 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  width: 100%;
  -o-object-position: center;
     object-position: center;
}

.gallery-container .img13 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / 8;
}

.gallery-container .img14 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 5;
  -ms-grid-row-span: 4;
  grid-row: 5 / 9;
}

.gallery-container .img18 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.gallery-container .img25 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
}

.gallery-container .img26 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.gallery-container .img27 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
}

.gallery-container .img29 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.gallery-container .img30 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
}

.gallery-container .img31 {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left !important;
     object-position: left !important;
}

.main-nav {
  background: #ffffff09;
  position: -webkit-sticky;
  position: sticky;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  text-align: center;
}

.main-nav .main-nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  padding: 0;
  list-style-type: none;
}

.main-nav ul li {
  padding: 0 0 0.4em 0;
  list-style-type: none;
}

.main-nav .nav-list-links {
  padding: 1em;
  margin: 0 0.6em;
  border-radius: 0.25rem;
}

.main-nav .dropdown {
  display: block;
}

.main-nav .dropdown .dropdown-content {
  background: #909190;
  color: #eef0f2;
  display: none;
  position: relative;
  z-index: 1;
  padding: 1em;
}

.main-nav .dropdown:hover .dropdown-content {
  display: block;
  margin: -14px 0 0 0;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  border-radius: 0.1rem;
  top: 33.5px;
  z-index: 1;
  width: auto;
  padding: 1.2em;
  text-align: left;
}

.main-nav .nav-list-links.dropdown {
  height: 3.6em;
  width: 150px;
  display: block;
}

.main-nav .dropdown-list-item a:active {
  color: #96c094;
}

.main-nav .dropdown-list-item::after {
  content: '';
  display: block;
  color: inherit;
  width: auto;
  height: 2px;
  text-align: left !important;
  background-color: #eef0f2 !important;
  background-color: #725752;
}

.main-nav:hover {
  background: #eef0f29c;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {
  .main-nav .main-nav-ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 2vw;
  }
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto 100vh auto auto 10vh;
      grid-template-rows: auto 100vh auto auto 10vh;
      grid-template-areas: "nav" "header" "primary" "secondary" "footer";
}

.main-header {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: header;
}

.main-nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: nav;
}

.primary-content {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: primary;
}

.secondary-content {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: secondary;
}

.secondary-content .figure1 {
  grid-area: fig1;
}

.secondary-content .figure2 {
  grid-area: fig2;
}

.secondary-content .figure3 {
  grid-area: fig3;
}

.secondary-content .figure4 {
  grid-area: fig4;
}

.secondary-content .figure5 {
  grid-area: fig5;
}

.secondary-content .figure6 {
  grid-area: fig6;
}

.gallery-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.45rem;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  -ms-grid-rows: (200px)[auto];
      grid-template-rows: repeat(auto, 200px);
}

.contact-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: auto auto 1fr 10vh;
      grid-template-rows: auto auto 1fr 10vh;
      grid-template-areas: "nav nav" "title title" "blank form" "footer footer";
}

.contact-page .main-nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: nav;
}

.contact-page .form-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
}

.contact-page .main-footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
}

.contact-page .form {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: form;
  margin-bottom: 2em;
}

.main-footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "left middle right";
}

.main-footer .left-text {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
  text-align: left;
}

.main-footer .middle {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: middle;
  text-align: center;
}

.main-footer .right-up {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: right;
  -ms-grid-column-align: right;
      justify-self: right;
}

.figure {
  max-width: 400px;
  margin: 1.6em auto;
  padding: 1em;
  padding-top: 0;
  opacity: 0.8;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  text-align: left;
  height: auto;
}

.figure:hover {
  opacity: 1;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.grid-imgs {
  height: 250px;
  max-width: 100%;
  margin: 0 auto;
}

.figure {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "title title" "img img" "text text" "btn1 btn2";
}

.card-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
}

.grid-imgs {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img;
}

.card-text {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: text;
}

.btn1 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: btn1;
}

.btn2 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: btn2;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {
  .figure {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (auto)[5];
        grid-template-rows: repeat(5, auto);
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "title" "img" "text" "btn1" "btn2";
  }
}

a {
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
}

a:hover {
  color: #725752;
}

a:active {
  color: #909190;
}

.btn {
  border: none;
  outline: none;
  padding: 2em;
  text-align: center;
  color: #eef0f2 !important;
  font-size: 0.8em;
  opacity: 0.85;
}

.btn:hover {
  opacity: 1;
}

.btn1 {
  background-color: #725752;
}

.btn2 {
  background-color: #909190;
}

.btn1:hover {
  background: #909190;
}

.btn2:hover {
  background: #725752;
}

.down-arrow {
  position: absolute;
  top: 85%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.down-arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #eef0f2;
  border-right: 5px solid #eef0f2;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: -20px;
  -webkit-animation: animate-down 2s infinite;
          animation: animate-down 2s infinite;
}

.down-arrow span:nth-child(2) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.down-arrow span:nth-child(3) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

@-webkit-keyframes animate-down {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

@keyframes animate-down {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

.up-arrow {
  position: absolute;
  left: 94%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.up-arrow span {
  z-index: 1;
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid #eef0f2;
  border-right: 5px solid #eef0f2;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: -10px;
  -webkit-animation: animate-up 2s infinite;
          animation: animate-up 2s infinite;
}

@-webkit-keyframes animate-up {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(10px, 10px);
            transform: rotate(45deg) translate(10px, 10px);
  }
}

@keyframes animate-up {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(10px, 10px);
            transform: rotate(45deg) translate(10px, 10px);
  }
}

.fab {
  font-size: 6vh;
  padding: 0 0.6em 0em 0.6em;
  color: #fef6c9;
}

.fab:hover {
  color: #909190;
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .activty {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    max-width: 1200px;
    grid-gap: 2em;
    margin: 2em auto;
  }
  .row1 {
        grid-template-areas: "fig1 fig2 fig3";
  }
  .row2 {
        grid-template-areas: "fig4 fig5 fig6";
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1000px) and (-webkit-min-device-pixel-ratio: 2) {
  .secondary-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 2em 2fr;
        grid-template-columns: 2fr 2em 2fr;
    -ms-grid-rows: 10vh 1fr;
        grid-template-rows: 10vh 1fr;
        grid-template-areas: "title title title" "row1 . row2";
  }
  #section-title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: title;
  }
  .row1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: row1;
  }
  .row2 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: row2;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {
  .primary-content h2 {
    max-width: 60vh;
  }
  .secondary-content h2 {
    padding: 1.2em 0;
    margin: 0 auto;
  }
  .primary-content,
  .secondary-content {
    padding: 0;
  }
  .activty {
    max-width: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .row1 {
        grid-template-areas: "fig1" "fig2" "fig3";
  }
  .row2 {
        grid-template-areas: "fig4" "fig5" "fig6";
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .form-grid {
    display: -ms-grid;
    display: grid;
    margin: 0 2em;
    -ms-grid-columns: 1fr 1em 1fr;
        grid-template-columns: 1fr 1em 1fr;
    -ms-grid-rows: (auto)[auto];
        grid-template-rows: repeat(auto, auto);
        grid-template-areas: "name . sname" "email email email" "activty activty activty" "txt txt txt" "btn btn btn";
  }
  .form-grid .name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: name;
  }
  .form-grid .sname {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: sname;
  }
  .form-grid .email {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: email;
  }
  .form-grid .activty-select {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: activty;
  }
  .form-grid .text-area {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: txt;
  }
  .form-grid .sbt-btn {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: btn;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1000px) and (-webkit-min-device-pixel-ratio: 2) {
  .contact-page {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto 1fr 10vh;
        grid-template-rows: auto auto 1fr 10vh;
        grid-template-areas: "nav" "title" "form" "footer";
  }
  .contact-page .form {
    margin: 0 1.6em 2em;
  }
}
/*# sourceMappingURL=main.css.map */