@import url("https://fonts.googleapis.com/css?family=Merriweather|Poppins");
body, * {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  text-align: center;
  color: #d4dfc7;
}

p, a {
  font-family: 'Poppins', sans-serif;
  color: #fef6c9;
  font-weight: 300;
  color: #909190;
}

.grid .main-header {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#878e88b4), to(#f5c1b8d8)), url(../images/cliff1.jpg);
  background-image: linear-gradient(#878e88b4, #f5c1b8d8), url(../images/cliff1.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.grid .main-header .sub {
  font-size: 2vw;
  padding: 18vh 0 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #d4dfc7;
  margin: 0 300px 0 300px;
  line-height: 3.4em;
}

.grid .main-header .sub::after {
  content: "";
  display: block;
  border-bottom: solid #d4dfc7 2.8px;
}

.grid .main-header .title {
  font-size: 6vw;
  margin: 0 100px 0 100px;
}

.grid .main-nav {
  background-color: #ffffff09;
  position: -webkit-sticky;
  position: sticky;
  padding-top: 6vh;
  padding-bottom: 6vh;
  text-align: center;
}

.grid .main-nav ul li {
  display: inline;
}

.grid .main-nav ul li .nav-links {
  margin-right: 4.2vw;
  margin-left: 4.2vw;
  background-color: #725752;
  border-radius: 2vh;
  padding: 0.6em;
  width: 0.2em;
  text-decoration: none;
}

.grid .primary-content {
  background-color: blueviolet;
  height: 80vh;
  padding: 2em;
}

.grid .secondary-content {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#878e88b4), to(#f5c1b8d8)), url(../images/cliff1.jpg);
  background-image: linear-gradient(#878e88b4, #f5c1b8d8), url(../images/cliff1.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.grid {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 100vh auto 100vh 50vh 30vh;
      grid-template-rows: 100vh auto 100vh 50vh 30vh;
      grid-template-areas: "header header header" "nav nav nav" "primary primary primary" "secondary secondary secondary" "footer footer footer";
}

.main-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
}

.main-nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: nav;
}

.primary-content {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: primary;
}

.secondary-content {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: secondary;
}

.main-footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

.main-nav:hover {
  background-color: #eef0f29c;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.main-nav:hover.nav-links:hover {
  background: #d4dfc7;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.main-nav:hover.nav-links:active {
  background: #96c094;
}

.main-nav:hover-a {
  text-decoration: none;
}

.main-nav:hover-a:hover {
  color: #725752;
}

.main-nav:hovera-:active {
  color: #eef0f2;
}
/*# sourceMappingURL=main.css.map */