// navbar text effects 
a   {     
    text-decoration: none;     
    text-transform: uppercase;     
    outline: none; 
}       
a:hover {     
    color: $primary-col;} 
a:active {     
    color: $second-col;}
 

 // card / figure buttons --
.btn {
    border: none;
    outline: none;
    padding: 2em;
    text-align: center;
    color: $white !important;
    font-size: 0.8em;
    opacity: 0.85;
}
.btn:hover {
    opacity: 1;
}
.btn1 {
    background-color: $primary-col;
}
.btn2{
    background-color: $second-col;
}
.btn1:hover {
    background: $second-col;
}
.btn2:hover {
    background: $primary-col;
}
