// Global fonts
@import url('https://fonts.googleapis.com/css?family=Merriweather|Poppins');

.grid,
.gallery-page,
.contact-page {
    scroll-behavior: smooth;
    transition: 0.4s ease-in-out;
}

.grid {
    background: $primary-col;
}
.contact-page {
    @include background;
    background-blend-mode: color-burn;
}
.gallery-page {
    @include background;
    background-attachment: fixed;
}

body, * {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

// global font and color for headings
h1,
h2,
h3 {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    text-align: center;
    color: $headings;
}

// global font family for p and a tags, color
p, 
a {
    @include text;
    color: $platinum;
}

// global h2 margins and underline ::after 
h2 {
    margin: 0 auto 1.6em;
    font-size: 34px;
}
h2::after {
    background-color: $headings;
    @include underline;
    text-align: left;
}

// global h3 margins and underline
h3 {
    color: $brown !important;
    padding: 0.8em;
}
h3::after {
    @include underline;
    background-color: $second-col;
}

// FORM STYLES START
option[value],
option,
.form,
input[placeholder],
select[id],
textarea[placeholder],
input[type=submit] {
    @include text;
    color: $text;
    font-weight: 400;
    background-color: $grey;
}

option[value] {
    background-color: $primary-col;
}
// FORM STYLES END


.grid {
    .main {
        &-header {
            text-align: center;
            @include background;
            height: 100vh;
            
            // sub title for header
            .sub {
                color: $headings;
                font-size: 2vw;
                padding: 18vh 0 0 0;
                text-align: center;
                margin: 0 auto;
                max-width: 300px;
                line-height: 3.4em;
            }
            // underline code for heading specfic
            .sub::after {
                content: "";
                display: block;
                border-bottom: solid  2.8px;
            }
            // title for header
            .title {
                font-size: 6vw; 
            }   
        }
    }
}


// first text section brown bg 
.primary-content {
    padding: 2em;
    margin: 1.2em auto;
    text-align: center;
        p {
            font-size: 1em;
            padding: 1em;
        }
}

.secondary-content {
    background: $second-col;
    padding: 2em;
    text-align: center;
    
    
    .figure {    
        margin: 0.45rem;
        background-color: $platinum;
        border-top: $primary-col 1em solid;
            h3 {
                font-size: x-large;
            }
                p {
                    color: $text;
                    background-color: $green;
                    padding: 0.25rem;
                    margin: 0.45rem 0;
                    font-size: 1em;
                }
        }
}

.main-footer {
    background-color: $bgfooter;
    height: 10vh;
    text-align: center;
    display: block;
    padding: 2vh;
    contain: content;
        .left-text {
            p {
                font-size: 1vw;
                margin-top: 1.4vh;
            }
        }
}


// contact page --------------------------- 
.contact-page{
        @include background;
        .form-title {
            color: $headings;
            margin: 1.4em auto;
            max-width: 500px;
        }
        .form-title::after {
            background: $headings;
            @include underline;
        }
    .form {
        background-color: #fff0;
        .form-grid {
            
            input[type=text] {
                padding: 0.6em;
            }
            input[type=text],
            input[type=email],
            select, 
            textarea    {
                color: $text;
                width: 100%;
                padding: 12px;
                border: 1px solid $platinum;
                margin-top: 6px;
                margin-bottom: 16px;
                resize: vertical;
                outline: none;
            }
            textarea {
                height: 152px;
            }
        } 
    
        input[type=submit] {
            width: 30%;
            background-color: $green;
            color: $text;
            padding: 1.4em;
            border: none;
            cursor: pointer;
            outline: none;
            border: 1px solid $platinum;
        }
        input[type=submit]:hover {
            background-color: $brown;
        }
    }
    
    
}


// styling for figures
.figure {
    max-width: 400px;
    margin: 1.6em auto;
    padding: 1em;
    padding-top: 0;
    @include opacity-on;
    text-align: left;
    height: auto;
}
.figure:hover {
    @include opacity-reveal;
}

.grid-imgs {
    height: 250px;
    max-width: 100%;
    margin: 0 auto;
}

    .card-title {
        grid-area: title;
    }
    .grid-imgs {
        grid-area: img;
    
    }
    .card-text {
        grid-area: text;
    }
    
    .btn1 {
        grid-area: btn1;
    }
    .btn2 {
        grid-area: btn2;
    }

    .figure {
        display:grid;
        margin: 2em auto;
        grid-template-areas: 
            "title"
            "img"
            "text"
            "btns";
        
    }
        .card-title {
            grid-area: title;
        }
        .grid-imgs {
            grid-area: img;
        }
        .card-text {
            grid-area: text;
        }
        .figure-btns {
            grid-area: btns;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 
                "read action";
        }
            .btn1 {
                grid-area: read;
            }
            .btn2 {
                grid-area: action;
            }
