// Global fonts
@import url('https://fonts.googleapis.com/css?family=Merriweather|Poppins');

body, * {
    margin: 0;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    text-align: center;
    // width: 400px;
}

h1::after {
    content: " ";
    display: block;
    border: solid 2px black;
    width: 200px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.grid {
    .main-header {  
        background-color: yellow;
        height: 100vh;
        @include background;
    }

    .navbar {
        position: fixed, sticky;
        background-color: aqua;
    }

    .primary-content {
        background-color: blueviolet;
    }

    .secondary-content {
        background-color: teal;
    }
}
