

// try hover effects hover/actove wobble
a   {
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
}  
a:hover {
    color: $bone;}
a:active {
    color: $white;}


.btn {
    border: none;
    outline: none;
    padding: 2em;
    text-align: center;
}

.btn1 {
    background: $dustyblue;
}
.btn1:hover,
.btn2:hover {
    background: $brown;
}
.btn2 {
    background: $second-col;
}


// scroll down arrow animation
.down-arrow {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.up-arrow {
    position: absolute;
    right: 50.5%;
    transform: rotate(180deg);
}

.up-arrow span {
    height: 20px !important;
    width: 20px !important;
}

.down-arrow span,
.up-arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid $white;
    border-right: 5px solid $white;
    transform: rotate(45deg);
    margin: -20px;
    animation: animate 2s infinite;
}
.up-arrow span:nth-child(2),
.down-arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.up-arrow span:nth-child(3),
.down-arrow span:nth-child(3){
    animation-delay: -0.4s;
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

// scroll end 

// img in activty grid

.grid-imgs {
    height:250px;
    max-width: 100%;
}



.figure {
    padding: 1em;
    padding-top: 0;
    @include opacity-on;
    text-align: left;
    height: auto;
}
.figure:hover {
    @include opacity-reveal;
}

// contact page ---------------------------

.fab {
    font-size: 8vh;
    padding:0 0.6em 1em 0.6em;
    color: $dustyblue;
}
.fab:hover {
    color: $brown;
}
