.grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:  auto 100vh 100vh 100vh 30vh;
    grid-template-areas: 
        "nav nav nav"
        "header header header"
        "primary primary primary"
        "secondary secondary secondary"
        "footer footer footer";
}

.main-header {
    grid-area: header;
}

.main-nav {
    grid-area: nav;

    .main-nav-ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        padding: 0;
        
        .nav-list-links {
            width: fit-content;
            height: fit-content;
            display: flex;
        }

        
    }
}


.primary-content {
    grid-area: primary;
}

.secondary-content {
    grid-area: secondary;

    .activty-grid {
        display: grid;
        max-width: 1200px;
        margin: 0 auto;
        grid-gap: 2em;

        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 
            "fig1 fig2 fig3"
            "fig4 fig5 fig6"
        }
        
        .figure1 {
            grid-area: fig1;
        }
        .figure2 {
            grid-area: fig2;
        }
        .figure3 {
            grid-area: fig3;
        }
        .figure4 {
            grid-area: fig4;
        }
        .figure5 {
            grid-area: fig5;
        }
        .figure6 {
            grid-area: fig6;
        }
            .figure {
                display:grid;
                grid-template-rows: auto auto auto auto;
                grid-template-columns: 1fr;
                grid-template-areas: 
                    "title"
                    "img"
                    "text"
                    "btns";
            }
                .card-title {
                    grid-area: title;
                }
                .grid-imgs {
                    grid-area: img;
                }
                .card-text {
                    grid-area: text;
                }
                .card-bottom-grid {
                    grid-area: btns;
                    display: grid;
                    grid-template-rows: auto;
                    grid-template-columns: repeat(2, auto);
                    grid-template-areas: 
                        "read   action";
                }
                    .btn1 {
                        grid-area: read;
                    }
                    .btn2 {
                        grid-area: action;
                    }
}

.main-footer {
    grid-area: footer;
}

// contact page ------------------------------------ //
