@mixin text {
    font-family: 'Poppins', sans-serif;
    color: $text;
    font-weight: 300;
}


@mixin background {
    background-image: linear-gradient($bgcolor-2, $bgcolor-1),  url(../images/cliff-crop.jpg);
    background-blend-mode: multiply;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin center {
    justify-self: center;
    text-align: center;
}

@mixin opacity-on { 
    opacity: 0.8; 
    transition: 0.4s ease-in;
}
@mixin opacity-reveal {
    opacity: 1;
    transition: 0.5s ease-out;
}

@mixin border {
    border-top: $bone 2em solid;
}


// use after element
@mixin underline {
    content: '';
    display: block;
    color: inherit;
    width: auto;
    height: 0.2rem;
    text-align: left !important;
    margin-top: 6px; 
}

@mixin drop-line {
    content: '';
    display: block;
    color: inherit;
    width: auto;
    height: 2px;
    text-align: left !important;
    background-color: $white !important;
}