
@mixin background {
    background-image: linear-gradient($bgcolor-1, $bgcolor-2), url(../images/cliff1.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin center {
    justify-self: center;
    text-align: center;
}