// responsive design ----------------------
// mobile responsive -------
@media only screen and (max-width: 600px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:  auto 100vh auto 100vh 30vh;
        grid-template-areas: !important
            "nav"
            "header"
            "primary"
            "secondary"
            "footer";
    }

    .activty-grid {
        display: grid;
        

        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,1fr);
        grid-template-areas: 
            "fig1"
            "fig2"
            "fig3"
            "fig4"
            "fig5"
            "fig6"
        }
}