    // ----  H O M E  P A G E  ---- //

@media screen 
and (min-device-width: 1024px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 1) { 
    .activty { 
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        max-width: 1200px;
        grid-gap: 2em;
        margin: 2em auto;
    }

    .row1 {
        grid-template-areas: 
            "fig1 fig2 fig3"
    }
    
    .row2 {
        grid-template-areas: 
            "fig4 fig5 fig6"
    }
}

@media only screen 
    and (min-device-width: 768px)
    and (max-device-width: 1000px) {
    .secondary-content {
        display: grid;
        grid-template-columns: 2fr 2em 2fr;
        grid-template-rows: auto ;
        grid-template-areas:
            "title title title"
            "row1 . row2";
        margin:0 auto;
    }
    #section-title {
        grid-area: title;
    }
    .row1 {
        grid-area: row1;
    }
    .row2 {
        grid-area: row2;
    }
     
    .gallery-container  {
        display: grid;
        grid-template-columns: 1fr 1fr !important;
        .span_4 {
            grid-column: span 2;
        }
    }
}


@media only screen 
    and (min-device-width: 320px)
    and (max-device-width: 600px)
    and (-webkit-min-device-pixel-ratio: 2) {
    .primary-content {
        h2 {
            max-width: 60vh;
        }
    }
    .secondary-content {
        h2 {
            padding: 1.2em 0;
            margin: 0 auto; 
        }
    }
    .primary-content,
    .secondary-content {
        padding: 0;
    }
    .activty {
        max-width: none;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .row1 {
        grid-template-areas: 
            "fig1" "fig2" "fig3"
    }
    
    .row2 {
        grid-template-areas: 
            "fig4" "fig5" "fig6"
    }

     
    .gallery-container  {
        display: grid;
        grid-template-columns: 1fr !important;
    }
}


// ---- C O N T A C T  P A G E ---- //

@media screen 
    and (min-device-width: 1200px) 
    and (max-device-width: 1600px) 
    and (-webkit-min-device-pixel-ratio: 1) { 
    
    .form-grid {
        display: grid;
        margin: 0 2em;
        grid-template-columns:1fr 1em 1fr;
        grid-template-rows: repeat(auto, auto);
        grid-template-areas: 
            "name . sname"
            "email . activty"
            "txt txt txt"
            "btn btn btn";
    
            .name {
                grid-area: name;
            }
            .sname {
                grid-area: sname;
            }
            .email {
                grid-area: email;
            }
            .activty-select {
                grid-area: activty;
            }
            .text-area {
                grid-area: txt;
            }
            .sbt-btn {
                grid-area: btn;
            }
    
    }
}

@media only screen 
    and (min-device-width: 320px)
    and (max-device-width: 1000px) { 
        .contact-page {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto 1fr 10vh;
            grid-template-areas: 
                "nav"
                "title"
                "form"
                "footer";
            .form {
                margin: 0 1.6em 2em;
                    .sbt-btn {
                        width: 100% !important;
                    }
            }
            
    }
}



// -- DESKTOP -- //
@media screen 
    and (min-device-width: 1200px) 
    and (max-device-width: 1600px) 
    and (-webkit-min-device-pixel-ratio: 1) { 


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:  auto 100vh auto auto 10vh;
    grid-template-areas: 
        "nav nav nav"
        "header header header"
        "primary primary primary"
        "secondary secondary secondary"
        "footer footer footer";
}

.main-header {
    grid-area: header;
}

.main-nav {
    grid-area: nav;
    .main-nav-ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        text-align: center;
        padding: 0;
        list-style-type: none;
    }
}   

.primary-content {
    grid-area: primary;
}

.secondary-content {
    grid-area: secondary;

    .activty {
        max-width: 1200px;
        grid-gap: 2em;
        margin: 0 auto;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

        .row1 {
            margin: 0 auto 2em;
            grid-template-areas: 
                "fig1 fig2 fig3"
        }
        
        .row2 {
            grid-template-areas: 
                "fig4 fig5 fig6"
        }
        
        
        
    .figure1 {
        grid-area: fig1;
    }
    .figure2 {
        grid-area: fig2;
    }
    .figure3 {
        grid-area: fig3;
    }
    .figure4 {
        grid-area: fig4;
    }
    .figure5 {
        grid-area: fig5;
    }
    .figure6 {
        grid-area: fig6;
    }
}

.main-footer {
    grid-area: footer;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "left middle right";

        .left-text {
            grid-area: left;
            text-align: left;

        }
        .middle {
            grid-area: middle;
            text-align: center;
        }
        .right-up {
            grid-area: right;
            justify-self: right;
        }
}



// form page ------------------------------------ // 

.form-grid {
    .form {
        margin: 2em 70px 2em 500px ;
    }
    display: grid;
    grid-template-columns:8fr 1fr 8fr;
    grid-template-rows: repeat(auto, auto);
    grid-template-areas: 
        "name . sname"
        "email email email"
        "activty activty activty"
        "txt txt txt";

        .name {
            grid-area: name;
            display: inline-grid;
        }
        .sname {
            grid-area: sname;
            display: inline-grid;
        }
        .email {
            grid-area: email;
        }
        .activty {
            grid-area: activty;
        }
        .text-area {
            grid-area: txt;
        }
        
}
}

// ----------- M O B I L E ---------- //
@media only screen 
    and (min-device-width: 320px)
    and (max-device-width: 700px)
    and (-webkit-min-device-pixel-ratio: 2) {

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  auto 100vh auto auto 10vh;
    grid-template-areas: 
        "nav"
        "header"
        "primary"
        "secondary"
        "footer";

    .main-header {
        grid-area: header;
    }
    
    .main-nav {
        grid-area: nav;
        ul {
        float: left !important;
        }     
    }   

    .main-nav-ul {
        margin: 0 auto;
    }

    
    .primary-content {
        grid-area: primary;
            h2 {
                margin-top: 0;
            }
    }
    
    .secondary-content {
        grid-area: secondary;
    
        .activty {
            max-width: 1200px;
            grid-gap: 2em;
            margin: 0 auto;
    
            display: grid;
            place-content: center;
                
            .row1 {
                margin: 0 auto 2em;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3, 1fr);
                grid-template-areas: 
                    "fig1"
                    "fig2"
                    "fig3" !important;
            }

            .row2 {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3, 1fr);
                grid-template-areas: 
                    "fig4"
                    "fig5"
                    "fig6" !important;
            }

            .figure {
                display: grid;
                margin: 2em auto;
            }
        }
    }
}
   
}