// GLOBAL COLORS

$brown          :#725752;
$white          :#eef0f2;
$mummys-tomb    :#878e88;
$lemon-brown    :#fef6c9;
$bone           :#d4dfc7;

$bgcolor-1      :#f5c1b8d8;
$bgcolor-2      : #878e88b4;

$primary-col    : $brown;
$second-col     : $mummys-tomb;

$headings       : $bone;
$text           : $lemon-brown;
