// GLOBAL COLORS

// color pallete

$brown          :#725752;
$white          :#eef0f2;
$grey           :#909190;
$lightgrey      :#c0c0c0;
$green          :#96c094;
$lemon-brown    :#fef6c9;
$bone           :#d4dfc7;
$dustyblue      :#455d80;
$tealblue       :#74a4ac;

// -----
// background colors (opacity; .0)
$bgcolor-1      :#f5c1b8d8;
$bgcolor-2      :#878e88b4;
$bgcolor-3      :#fef6c9b4;
$bgcolor-4      :#455d80b4;
$bgcolor-5      :#725752c9;
$bgnav-1        :#ffffff09;
$bgnav-2        :#eef0f29c;
$footer         :#725752a4;
$formbg-1       :#455d80;
$bgfooter       :#ffffff27;

// main colors
$primary-col    : $brown;
$second-col     : $grey;

// h1,h2,h3, p tags
$headings       : $bone;
$text           : $white;


// breakpoints -------
$breakpoint-moblie      : 600px;
$breakpoint-tablet      : 768px;
$breakpoint-bigscreen   : 2000px;