// GLOBAL COLORS

// color pallete

$brown          :#725752;
$white          :#eef0f2;
$grey           :#909190;
$lightgrey      :#c0c0c0;
$green          :#96c094;
$lemon-brown    :#fef6c9;
$bone           :#d4dfc7;
$dustyblue      :#455d80;

// -----
// background colors (opacity; .0)
$bgcolor-1      :#f5c1b8d8;
$bgcolor-2      :#878e88b4;
$bgcolor-3      :#fef6c9b4;
$bgcolor-4      :#455d80b4;
$bgnav-1        :#ffffff09;
$bgnav-2        :#eef0f29c;
$footer         :#725752a4;



// main colors
$primary-col    : $brown;
$second-col     : $grey;

// h1,h2,h3, p tags
$headings       : $bone;
$text           : $lemon-brown;

.grid {
    background: $primary-col;
}
.contact-page {
    background-color: $second-col;
    background-image: url(../images/mtn2.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, 
h2 {
    color: $headings;
}
h2::after {
    background-color: $headings;
    @include underline;
    text-align: left;
}

.form-title {
    padding: 20px 0 0 0;
}

h3::after {
    @include underline;
    background-color: $second-col;
}

h3 {
    color: $brown;
    padding: 0.8em;
}

p {
    color: $text;
}

.btn {
    color: $white;
    font-size: 0.8em;
}

.sub {
    color: $bone;
}

.main-nav {
    background: $bgnav-1;
}
.main-nav:hover {
    background: $bgnav-2;
    color: $text;
}

.nav-list-links {
    background: $primary-col;
}
.nav-list-links:hover {
    background: $second-col;
}
.nav-list-links:active {
    background: $dustyblue;
}

.dropdown-content {
    background: $bgcolor-4;
}
.dropdown-content:hover {
    background: $dustyblue !important;
}


.primary-content {
    background: $primary-col;
}

.secondary-content {
    background: $second-col;
}

.figure {
    background-color: $headings;
    border-top: $primary-col 1em solid;
}

